<%= form_for(@post) do |f| %>
  <label>Post title:</label><br>
   <%= author_id_field(@post) %><br>
   <%# helper method %>
  <label>Post title:</label><br>
  <%= f.hidden_field :author_id %>
<%# associalt new post with authour %>
  <%= f.text_field :title %><br>
  <label>Post Description</label><br>
  <%= f.text_area :description %><br>
  <%= f.submit %>
<% end %> 
